$colorprin: rgb(242, 77, 104);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------ header mas barra navegacion------ */
.header {
    height: 90px;

    .navbar {
        background-color: $colorprin;
        line-height: 50px;
        box-shadow: 0 0 30px black;
    }

    .navbar img {
        border-radius: 50px;
        margin-left: 5px;

        span {
            font-size: 24px;
            font-weight: 500;
            text-decoration: underline;
            text-shadow: 0 0 5px #333;
        }
    }
}

.collapse {
    justify-content: end;
    padding-right: 10px;

    .nav-link {
        font-size: 20px;
        font-weight: 500;
        color: #fff !important;
        padding: 0px;
        margin: 0px;

        &:hover {
            background-color: #333;
            transition: all 1, 8;
            border-radius: 5px;
        }
    }
}

/*------finaliza header--------- */

// --------carrousel--------

.slide img {
    height: 70vh;
}

// ----fin carrousel------- 

// main-secciones-video-
main {
    min-height: calc(100vh - 90px - 40px);
}

.Contenedorprincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 10px;
    font-size: 2em;

    .Titulos--Principales {
        font-size: 1.2em;
        background-color: $colorprin;
        border-radius: 5px;

    }
    .titulos--secundarios {
        font-size: 1em;
        background-color: $colorprin;
        border-radius: 5px;
        margin: 15px 0;
    }

    .parrafo1 {
        font-size: 0.6em;
    }
}

// video de incio youtube inicio
.video--youtube {
    display: flex;
    justify-content: center;
    flex-shrink: 1;

    iframe {
        padding: 15px 10px;
        width: 600px;
        height: 310px;
    }
}
// video finaliza
// finaliza main-secciones-video

// comienza footer
.footer {
    background-color: $colorprin;
    height: 40px;

    .finPage {
        font-size: 18px;
        padding-top: 8px;
        text-decoration: underline;
        text-align: center;
    }
}
// finaliza footer
// media query
@media only screen and (min-width:320px) and (max-width:767px) {
    .slide img {
        height: 40vh;
    }
}
